*{
    text-decoration: none;
}
body{
    background: #00A169;
}
.btn-link{
    text-decoration: none;
    color: black;
    font-weight: bold;

}
.btn{
 text-decoration: none;

}
.btn-link:hover {
    color: black;
    text-decoration: none;

}
.btn-card {
    padding: 0;
}

  
.label {
    font-weight: bold;
    color: #4974d1;

    width: 45%;

      
}
.result{
    font-family: monospace;
    letter-spacing: 1px;
    font-size: 11pt;
    font-weight: bold;
    

}

.left-info{
    font-weight: bold;
    font-size: 16pt;
    color: #f9d71c;
}
.label-titulo{
    color: white;
    font-weight: bold;
}
.center-me {
    margin: 0 auto;

}
.inputs{
    padding: 20px;
}
#tab-content{
    background: white;
}

.social{
    font-size: 20px;
    margin: 2px;
    color: #fff;
}
.social:hover{
    color: #303030;
}
