*{
    text-decoration: none;
}
body{
    background: #00A169;
}
.btn-link{
    text-decoration: none;
}
.btn-card {
    padding: 0;
}
.left-info{
    font-weight: bold;
    font-size: 16pt;
    color: #f9d71c;
}
.label-titulo{
    color: white;
    font-weight: bold;
}
.center-me {
    margin: 0 auto;

}
.inputs{
    padding: 20px;
}
#tab-content{
    background: white;
}
