{% extends "base.html" %}
{% block style %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" id="bootstrap-css">
{% endblock %}
{% block title %} IP - CONVERTOR {% endblock %}
{% block content %}
    <div class="row" >
        <div class="col-md-8 center-me a">
            <div class="card " id="header" >
                <img class="card-img-top" src=" {{url_for('static', filename='files/title1.png')  }} " alt="Card image cap">
            </div>
        </div>
    </div>
    <div class="center inputs">
        <form class="form-inline" method="POST" action="/">
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" name="ipaddress" aria-describedby="emailHelp" placeholder="Eg: 192.168.1.1">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" name="mask" aria-describedby="emailHelp" placeholder="Eg: 24 or 255.255.255.0">  
            </div>
            <button type="submit" class="btn btn-primary mb-2">  GET  </button>
        </form>
    </div>
    
    <div class="row">
        <div class="col-md-8 center-me">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="btn-card card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                DECIMAL FORMAT
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            {% if decimal  %}
                                    <label class="font-weight-bold" for="">IP ADDRESS:</label><span>{{ decimal.ip }}</span><br>
                                    <label class="font-weight-bold" for="">NETMASK:</label><span>{{ decimal.mask}} </span><br>
                                    <label class="font-weight-bold" for="">NETWORK:</label><span>{{ decimal.network }}</span> <br>
                                    <label class="font-weight-bold"  for="">BROADCAST:</label><span>{{ decimal.broadcast }}</span><br>
                                    <label class="font-weight-bold"  for="">FIRST IP:</label><span>{{ decimal.first_host }}</span><br>
                                    <label class="font-weight-bold"  for="">LAST IP:</label><span>{{ decimal.last_host }}</span> <br>
                                {% else %}
                                    <label class="font-weight-bold" for="">IP ADDRESS:</label> <br>
                                    <label class="font-weight-bold" for="">NETMASK:</label><br>
                                    <label class="font-weight-bold" for="">NETWORK:</label><br>
                                    <label class="font-weight-bold"  for="">BROADCAST:</label><br>
                                    <label class="font-weight-bold"  for="">FIRST IP:</label><br>
                                    <label class="font-weight-bold"  for="">LAST IP:</label><br>
                                {% endif %}

                        </div>
                    </div>
                </div>
             
                <div class="card">
                    <div class="btn-card card-header" id="headingTwo">
                        <h2 class="mb-0">
                        <button class=" btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            BINARY FORMAT
                        </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                        {% if binary  %}
                            <label class="font-weight-bold" for="">IP ADDRESS:</label><span>{{ binary.ip }}</span><br>
                            <label class="font-weight-bold" for="">NETMASK:</label><span>{{ binary.mask}} </span><br>
                            <label class="font-weight-bold" for="">NETWORK:</label><span>{{ binary.network }}</span> <br>
                            <label class="font-weight-bold"  for="">BROADCAST:</label><span>{{ binary.broadcast }}</span><br>
                            <label class="font-weight-bold"  for="">FIRST IP:</label><span>{{ binary.first_host }}</span><br>
                            <label class="font-weight-bold"  for="">LAST IP:</label><span>{{ binary.last_host }}</span> <br>
                        {% else %}
                            <label class="font-weight-bold" for="">IP ADDRESS:</label> <br>
                            <label class="font-weight-bold" for="">NETMASK:</label><br>
                            <label class="font-weight-bold" for="">NETWORK:</label><br>
                            <label class="font-weight-bold"  for="">BROADCAST:</label><br>
                            <label class="font-weight-bold"  for="">FIRST IP:</label><br>
                            <label class="font-weight-bold"  for="">LAST IP:</label><br>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}