{% extends "base.html" %}
{% block style %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" id="bootstrap-css">
{% endblock %}
{% block title %} IP - CONVERTOR {% endblock %}
{% block content %}
    <div class="row" >
        <div class="col-md-8 center-me a">
            <div class="card " id="header" >
                <img class="card-img-top" src=" {{url_for('static', filename='files/title1.png')  }} " alt="Card image cap">
            </div>
        </div>
    </div>
    <div class="center inputs">
        <form class="form-inline" method="POST" action="/">
            <div class="form-group mx-sm-3 mb-2">
                <input id="ipInput" type="text" class="form-control" name="ip" aria-describedby="emailHelp" placeholder="Eg: 192.168.1.1">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <input id="maskInput" type="text" class="form-control" name="mask" aria-describedby="emailHelp" placeholder="Eg: 24 or 255.255.255.0">  
            </div>
            <button id="submitButton" type="submit" class="btn btn-primary mb-2">  GET  </button>
        </form>
    </div>
    
    <div class="row">
        <div class="col-md-8 center-me">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="btn-card card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                DECIMAL FORMAT
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            {% if decimal  %}
                            <table>
                                <tr>
                                    <td> IP ADDRESS:</td>
                                    <td>{{ decimal.ip }}    </td>
                                    <td>{{ binary.ip }}</td>
                                </tr>
                                <tr>
                                    <td> NETMASK:</td>
                                    <td>{{ decimal.mask }}</td>
                                    <td>{{ binary.mask }}</td>
                                </tr>
                                <tr>
                                    <td> NETWORK</td>
                                    <td>{{ decimal.network }}/{{ decimal.bit_mask }}</td>
                                    <td>{{ binary.network }} </td>
                                </tr>
                                <tr>
                                    <td> BROADCAST:</td>
                                    <td>{{ decimal.broadcast }}</td>
                                    <td>{{ binary.broadcast }} </td>
                                </tr>
                                <tr>
                                    <td>FIRST IP:</td>
                                    <td>{{ decimal.first_host }}</td>
                                    <td>{{ binary.first_host }} </td>
                                </tr>
                                <tr>
                                    <td> LAST IP:</td>
                                    <td>{{ decimal.last_host }}</td>
                                    <td>{{ binary.last_host }} </td>
                                </tr>
                                <tr>
                                    <td>HOSTS:</td>
                                    <td>{{ decimal.hosts_number }}</td>
                                </tr>
                                <tr>
                                    <td>CLASS</td>
                                    <td>{{ decimal.class_ }}</td>
                                </tr>
                                <tr>
                                    <td>TYPE:</td>
                                    <td>Private</td>
                                </tr>
                            </table>
                                    
                                {% else %}
                                    <h2> Introduza um ip</h2>
                                {% endif %}

                        </div>
                    </div>
                </div>
             
                <div class="card">
                    <div class="btn-card card-header" id="headingTwo">
                        <h2 class="mb-0">
                        <button class=" btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            BINARY FORMAT
                        </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                        {% if binary  %}
                        <table>
                        <tr>
                            <td> IP ADDRESS:</td>
                            <td>{{ binary.ip }}    </td>
                        </tr>
                        <tr>
                            <td> NETMASK:</td>
                            <td>{{ binary.mask }}</td>
                        </tr>
                        <tr>
                            <td> NETWORK</td>
                            <td>{{ binary.network }}</td>
                        </tr>
                        <tr>
                            <td> BROADCAST:</td>
                            <td>{{ binary.broadcast }}</td>
                        </tr>
                        <tr>
                            <td>FIRST IP:</td>
                            <td>{{ binary.first_host }}</td>
                        </tr>
                        <tr>
                            <td> LAST IP:</td>
                            <td>{{ binary.last_host }}</td>
                        </tr>
                    </table>
                        {% else %}

                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

