{% extends "base.html" %}
{% block style %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" id="bootstrap-css">
{% endblock %}
{% block title %} IP - CONVERTOR {% endblock %}
{% block content %}
    <div class="row" >
        <div class="col-md-8 center-me a">
            <div class="card " id="header" >
                <img class="card-img-top" src=" {{url_for('static', filename='files/title1.png')  }} " alt="Card image cap">
            </div>
        </div>
    </div>
    <div class="center inputs">
        <form class="form-inline" id="form" name="">
            <div class="form-group mx-sm-3 mb-2">
                <input id="ipInput" type="text" class="form-control" name="ip" placeholder="Eg: 192.168.1.1">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <input id="maskInput" type="text" class="form-control" name="mask" placeholder="Eg: 24 or 255.255.255.0">  
            </div>
            <input id="submitButton" value="GET" type="submit" class="btn btn-primary mb-2" />
        </form>
    </div>
    
    <div class="row">
        <div class="col-md-8 center-me">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="btn-card card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                DECIMAL FORMAT
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <table>
                                <tr>
                                    <td class="label"> IP ADDRESS:</td>
                                    <td id=decimal-ip class="result" ></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="label" > NETMASK:</td>
                                    <td id=decimal-mask class="result" ></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="label" > NETWORK: </td>
                                    <td id=decimal-network class="result" ></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="label" > BROADCAST:</td>
                                    <td id=decimal-broadcast class="result" ></td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td class="label" >FIRST IP:</td>
                                    <td id=decimal-first class="result" ></td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td class="label" > LAST IP:</td>
                                    <td id=decimal-last class="result" ></td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td class="label" >HOSTS:</td>
                                    <td id=decimal-hosts class="result" ></td>
                                </tr>
                                <tr>
                                    <td class="label" >CLASS: </td>
                                    <td id=decimal-class class="result" ></td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
             
                <div class="card">
                    <div class="btn-card card-header" id="headingTwo">
                        <h2 class="mb-0">
                        <button class=" btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            BINARY FORMAT
                        </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">

                        <table>
                        <tr>
                            <td class="label" > IP ADDRESS:</td>
                            <td id=binary-ip class="result" >  </td>
                        </tr>
                        <tr>
                            <td class="label" > NETMASK:</td>
                            <td id=binary-mask class="result" ></td>
                        </tr>
                        <tr>
                            <td class="label" > NETWORK:</td>
                            <td id=binary-network class="result" ></td>
                        </tr>
                        <tr>
                            <td class="label" > BROADCAST:</td>
                            <td id=binary-broadcast class="result" ></td>
                        </tr>
                        <tr>
                            <td class="label" >FIRST IP:</td>
                            <td id=binary-first class="result" ></td>
                        </tr>
                        <tr>
                            <td class="label" > LAST IP:</td>
                            <td id=binary-last class="result" ></td>
                        </tr>
                    </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

